body {
    background-color: lavender;
}
#div {
    background-color: peachpuff;
}
.list-item {
    background-color: darkseagreen;
}
.main-heading {
    background-color: lightskyblue;
}
#first-paragraph {
    background-color: lightcoral;
}
.nav-1 {background-color: mediumpurple;}
#nav-2 {background-color: gold;}